pkgbase = luma-bin
	pkgdesc = Free open-source terminal and SSH client
	pkgver = 0.14.2
	pkgrel = 1
	url = https://luma.bwmp.dev
	arch = x86_64
	license = MIT
	depends = gtk3
	depends = webkit2gtk-4.1
	depends = systemd-libs
	provides = luma
	conflicts = luma
	options = !strip
	source = luma-0.14.2.deb::https://github.com/bwmp-dev/Luma/releases/download/v0.14.2/Luma_0.14.2_amd64.deb
	source = LICENSE-0.14.2::https://raw.githubusercontent.com/bwmp-dev/Luma/v0.14.2/LICENSE
	sha256sums = 01b14e3241d830f2612a30e93962daf2a79abbde1a0001394087d75a10c1b752
	sha256sums = 85837564856e5ddd827ad015da328b847d4b8bbbd4e218a3e95e6f0d2d3db7ae

pkgname = luma-bin
