<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <!-- Associates the Icon Composer renditions in Assets.car with this app. -->
  <key>CFBundleIconName</key>
  <string>star</string>
</dict>
</plist>
